absl_py
fonttools
nvidia-ml-py
protobuf
regex
zipp
annotated_doc
anyio
argon2_cffi
argon2_cffi_bindings
arrow
asttokens
async_lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset_normalizer
click
cma
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
filelock
fqdn
fsspec
future
geographiclib
geopy
glpk
grpcio
h11
h5py
hf_xet
httpcore
httpx
huggingface_hub
idna
importlib_metadata
ipykernel
ipython
isoduration
jedi
jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema_specifications
jupyter_client
jupyter_core
jupyter_events
jupyter_lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lark
markdown
markdown_it_py
MarkupSafe
matplotlib
matplotlib_inline
mdurl
mistune
mpmath
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
ply
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
py_cpuinfo
pyaml
pycparser
pygments
Pyomo
pyparsing
python_dateutil
python_dotenv
python_json_logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339_validator
rfc3986_validator
rfc3987_syntax
rich
rpds_py
safetensors
scikit_learn
scikit_optimize
scipy
seaborn
send2trash
shellingham
six
soupsieve
stack_data
sympy
tenacity
tensorboard
tensorboard_data_server
terminado
threadpoolctl
tinycss2
tokenizers
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers==4.37.2
typer
typing_extensions
tzdata
uri_template
urllib3
wcwidth
webcolors
webencodings
websocket_client
werkzeug
